/* Basic styles for body and layout */
@font-face {
    font-family: 'GoodDog';
    src: url(./fonts/good_dog/GOODDP__.TTF) format('truetype');
}
@font-face {
    font-family: 'HelveticaNow';
    src: url(./fonts/helvetica-now-font-family-1727953346-0/helveticanowtext-black-demo.ttf) format('truetype');
}
body {
    font-family: 'HelveticaNow', sans-serif;
    font-size: larger;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
/*16px = 1em*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: auto; /* Ajusta la altura automáticamente */
    display: block;
    object-fit: cover; /* Cubre el área del contenedor sin deformarse */
}

.logo {
    height: 10vh;
    display: flex;
    align-items: left;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4CAF50;
    padding: 1rem 2rem;
    color: white;
}

header .logo h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1.25rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.download a {
    background-color: #333;
    color: white;
    padding: 0.625rem 1.25rem; /* 10px 20px -> 0.625rem 1.25rem */
    text-decoration: none;
    border-radius: 0.3125rem; /* 5px -> 0.3125rem */
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 0.625rem; /* 10px -> 0.625rem */
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Estilos para el menú hamburguesa */
.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    z-index: 10;
}

/* Fondo oscuro cuando el menú está activo */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 5;
}

/* Activa el overlay cuando se muestra el menú */
.overlay.active {
    display: block;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    nav ul {
        flex-direction: column;
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        background-color: #4CAF50;
        padding: 1rem;
        width: 60%;
        height: 100vh;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        z-index: 10;
    }

    nav ul.active {
        display: flex;
    }

    .overlay.active {
        display: block;
    }

    .download {
        display: none; /* Oculta el botón de descarga en móviles */
    }
}
